<nav>
  <a routerLink="">Main Page</a>
</nav>
<router-outlet></router-outlet>

 <table>
   <thead>
     <tr>
       <th>Application_id</th>
       <th>Applicant_name</th>
       <th>Submitted_date</th>
       <th>Status</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let user of moreusers">
       <td>
         <a [routerLink]="['/landing-page2', user.id]">{{user.id}} </a>
       </td>
       <td>{{ user.firstName }}</td>
       <td>{{ user.date }}</td>
       <td>{{ user.status }}</td>
     </tr>
   </tbody>
 </table>

 

 
