<!-- <div>

    <h1>Data from Server:</h1>

    <ul>

      <li *ngFor="let item of data">{{ item.name }}</li>

    </ul>

</div> -->

<nav>

    <!-- <a routerLink="">Main Page</a> -->




    <!-- <a routerLink="/landing-page1">Landing Page 1</a> -->

    <a routerLink="/landing-page2">Back</a>

</nav>

<section>

    <h2>View Application</h2>

    <div *ngIf="moreuser; else noApplication">

      <p><strong>Application ID:</strong> {{ moreuser.id }}</p>

      <p><strong>Status:</strong> {{ moreuser.status }}</p>

      <p><strong>Score:</strong> {{ moreuser.score }}</p>

      <p><strong>Reason:</strong> {{ moreuser.reason }}</p>

    </div>

    <ng-template #noApplication>

      <p>No application data found with ID 1.</p>

    </ng-template>

  </section>

  <hr>

  <div>

    <h3>Original Application</h3>

    <p>First Name: {{moreuser.firstName}}</p>
    <p>Middle Name: {{moreuser.middleName}}</p>
    <p>Last Name: {{moreuser.lastName}}</p>
    <p>Date of Birth: {{moreuser.dob}}</p>
    <p>Marital Status: {{moreuser.maritalStatus}}</p>
    <p>SSN Number : {{moreuser.ssn}}</p>
    <p>Loan Amount : {{moreuser.loanAmount}}</p>
    <p>Loan Purpose : {{moreuser.loanPurpose}}</p>
    <p>Description : {{moreuser.description}}</p>
    <p>Address Line 1 : {{moreuser.addressLine1}}</p>
    <p>City : {{moreuser.city}}</p>
    <p>State : {{moreuser.state}}</p>
    <p>Postal Code : {{moreuser.postalCode}}</p>
    <p>Home Phone : {{moreuser.homePhone}}</p>
    <p>Office Phone : {{moreuser.officePhone}}</p>
    <p>Mobile : {{moreuser.mobileNumber}}</p>
    <p>Email Address : {{moreuser.email}}</p>
    <p>Employer Name : {{moreuser.employerName}}</p>
    <p>Annual Salary : {{moreuser.annualSalary}}</p>
    <p>Experience Years : {{moreuser.experienceYears}}</p>
    <p>Experience Months : {{moreuser.experienceMonths}}</p>
    <p>Designation : {{moreuser.designation}}</p>
    <p>Employer AddressLine 1 : {{moreuser.employerAddressLine1}}</p>
    <p>Employer AddressLine 2 : {{moreuser.employerAddressLine2}}</p>
    <p>Employer City : {{moreuser.employerCity}}</p>
    <p>Employer State : {{moreuser.employerState}}</p>
    <p>Employer Postal Code : {{moreuser.employerPostalCode}}</p>











  </div>
