<h1>XYZ BANK</h1>
<div class="custom-line"></div>
<style>
    .bottom-three {
       margin-bottom: 3cm;
    }
  </style>
<p>XYZ Bank continuously invests in cutting-edge technology and digital solutions to enhance our services further. We believe in staying ahead of the curve, providing our customers with the most convenient and efficient banking experience possible.

us at XYZ Bank today and let us be your financial partner in achieving your dreams and aspirations. Experience the excellence of our services, the strength of our values, and the reliability of our commitment to your financial well-being.</p>

<p>In order to Submit a new loan request, click on "Submit an application" link below.</p>

<p>For viewing existing loan application's , click on "View applications" link.</p>

<nav>
    <a routerLink="/landing-page1" >Submit an application</a>

    <div class="vertical-space"></div>

    
    <a routerLink="/landing-page2">View applications</a>
</nav>